# ESP32-S3 reversible Wi-Fi commissioning profile.
CONFIG_PICO_FIDO2_WIFI_COMMISSIONING=y
CONFIG_ESP_WIFI_ENABLED=y
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=y
CONFIG_ESP_WIFI_SOFTAP_SAE_SUPPORT=n
CONFIG_ESP_WIFI_MBEDTLS_CRYPTO=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.wireless.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.wireless.csv"
